{#
/**
 * @file
 * Default theme implementation to display a private item.
 *
 * Available variables:
 * - url: URL of the current private item.
 * - label: Label of the current private item.
 * - content: Items for the content of the private item (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - private_item: The private item entity, including:
 *   - id: The ID of the private item.
 *   - bundle: Machine name of the current private item type.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_private_item()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'private-item',
    'private-item-' ~ private_item.bundle|clean_class,
    'view-mode-' ~ (view_mode ? view_mode|clean_class),
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {% block content %}
    {{ title_prefix }}
    {% if not page %}
      <h3><a href="{{ url }}">{{ label }}</a></h3>
    {% endif %}
    {{ title_suffix }}
    {{ content }}
  {% endblock %}
</article>
